/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);


/*------------------------------------------------------------------
    SECTIONS
-------------------------------------------------------------------*/

.dbcolor{
	background: #eea412;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    padding: 120px 0;
    position: relative;
    width: 100%;
}

.parallax.parallax-off {
    background-attachment: fixed !important;
    display: block;
    overflow: hidden;
    position: relative;
    background-position: center center;
    
    width: 100%;
    z-index: 2;
}

.no-scroll-xy {
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}

.noover {
    overflow: visible;
}

.noover .btn-dark {
    border: 0 !important;
}

.nopad {
    padding: 0;
}

.nopadtop {
    padding-top: 0;
}

.section.wb {
    background-color: #ffffff;
}

.section.lb {
    background-color: #f2f3f5;
}

.section.db {
    background-color: #1f1f1f;
}

.section.color1 {
    background-color: #448AFF;
}
.section.cl {
	background-color: #2d3032;
}

.hover-btn-new{
	color: #ffffff;
	display: inline-block;
	font-weight: 400;
	line-height: 46px;
	padding: 0 17px;
	text-transform: uppercase;
	position: relative;
	border: 2px solid #fff;
	font-size: 14px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
}

.orange{
	border-color: #eea412;
}

.first-section {
    position: relative;
    overflow: hidden;
    height: 100%;	
	vertical-align: middle;
}

.first-section::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
	top: 0px;
	left: 0px;
    display: block;
    background: rgba(0,0,0,0.5);
}

.first-section h2 {
    color: #ffffff;
    font-size: 68px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    margin: 0;
    padding: 0 0 30px;
    position: relative;
}

.first-section h2 strong{
	color: #eea412;
}

.first-section .lead {
    font-size: 21px;
    font-weight: 300;
    padding: 0 0 40px;
    margin: 0;
    line-height: inherit;
    color: #ffffff;
}

.macbookright {
    width: 980px;
    position: absolute;
    right: -15%;
    bottom: -6%;
}

.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.section-title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.section-title h3 {
    font-size: 42px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

.section.colorsection p,
.section.colorsection h3,
.section.db h3 {
    color: #ffffff;
}


.box-slider .first-section{
	display: table;
	position: relative;
	width: 100%;
}
.dtab{
	display: table-cell;
	vertical-align: middle;
}


.page-section{
	padding: 70px 0px; 
}

.customwidget a{
	position: relative;
	padding: 13px 40px;
	font-size: 18px;
	display: inline-block;
}


.customwidget a,
.customwidget a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.customwidget a.hover-btn-new::before,
.customwidget a.hover-btn-new::after {
  background: #9dc15b;
  content: '';
  position: absolute;
  z-index: 1;
}

.customwidget a.hover-btn-new:hover span {
  color: #333333;
}
.customwidget a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.customwidget a.hover-btn-new::after {
  background: #333333 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.customwidget a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #fff;
}
.customwidget a.hover-btn-new:hover:after {
	height: 0;
	left: 50%;
	top: 50%;
	width: 0;
}
.message-box a{
	position: relative;
	font-size: 18px;
	display: inline-block;
}
.message-box a,
.message-box a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.message-box a.hover-btn-new::before,
.message-box a.hover-btn-new::after {
	background: #eea412;
	content: '';
	position: absolute;
	z-index: 1;
}

.message-box a.hover-btn-new:hover span {
  color: #333333;
}
.message-box a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.message-box a.hover-btn-new::after {
  background: #333333 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.message-box a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #fff;
}
.message-box a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}


.customwidget{
	margin-top: 30px;
}

.hmv-box{
	padding: 60px 0px; 
}
.inner-hmv{
	padding: 15px;
	box-shadow: 0 0px 10px rgba(0,0,0,.1);
	position: relative;
	overflow: hidden;
}
.icon-box-hmv{
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border: 3px solid #4babb1;
	border-radius: 6px;
	margin-bottom: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.icon-box-hmv i{
	font-size: 60px;
	color: #eea412;
}
.inner-hmv h3{
	font-size: 28px;
	color: #212121;
    font-weight: 500;
	margin-bottom: 20px;
	padding: 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.inner-hmv p{
	margin: 0px;
}

.inner-hmv:hover .icon-box-hmv{
	border: 3px solid #eea412;
}
.inner-hmv:hover .icon-box-hmv i{
	color: #4babb1;
}
.inner-hmv:hover h3{
	color: #eea412;
}
.tr-pa{
	font-size: 170px;
	color: #fbfbfb;
    position: absolute;
    top: -20px;
    right: -10px;
    line-height: 125px;
	font-weight: 700;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.inner-hmv:hover .tr-pa{
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}



/*------------------------------------------------------------------
    PRICING TABLES
-------------------------------------------------------------------*/

.pricing-table {
    margin: 0px;
    background: #fff;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}

.pricing-table i {
    width: 30px;
    color: #c2c2c2;
    display: inline-block;
    margin-right: 10px;
    padding-right: 5px;
    border-right: 1px solid #ececec;
}

.pricing-table .btn-dark {
    padding: 10px 24px;
    font-size: 15px;
}

.pricing-table strong {
    font-weight: 600;
    margin-right: 6px;
    color: #1f1f1f;
}

.pricing-table-header {
    padding: 30px 0 25px 0;
    background: #ffffff;
	border-radius: 2px;
}

.pricing-table-header h2 {
    font-size: 31px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.pricing-table-header h3 {
    font-size: 15px;
    font-weight: 600;
    color: #aaaaaa;
    margin-top: 10px;
    text-transform: uppercase;
}

.pricing-table-space {
    height: 10px;
}

.pricing-table-text {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ececec;
    font-weight: 300;
    line-height: 30px;
    color: #c2c2c2;
    font-size: 16px;
}

.pricing-table-text p {
    font-weight: 400;
}

.pricing-table-features {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 30px;
    border-bottom: 1px solid #ececec;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #c2c2c2;
}

.pricing-table-highlighted h3,
.pricing-table-highlighted h2 {
    color: #ffffff !important;
}

.pricing-table-sign-up {
    margin-top: 25px;
    padding-bottom: 30px;
}


.pricing-table-sign-up a{
	position: relative;
	font-size: 18px;
	display: inline-block;
}
.pricing-table-sign-up a,
.pricing-table-sign-up a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.pricing-table-sign-up a.hover-btn-new::before,
.pricing-table-sign-up a.hover-btn-new::after {
  background: #eea412;
  content: '';
  position: absolute;
  z-index: 1;
}

.pricing-table-sign-up a.hover-btn-new:hover span {
  color: #333333;
}
.pricing-table-sign-up a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.pricing-table-sign-up a.hover-btn-new::after {
  background: #333333 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.pricing-table-sign-up a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #fff;
}
.pricing-table-sign-up a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.pricing-table:hover {
	transform: scale(1.05,1.06);
	-webkit-transform: scale(1.05,1.06);
	-moz-transform: scale(1.05,1.06);
	-o-transform: scale(1.05,1.06);
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}

/* Highlighted table */

.pricing-table-highlighted {
    margin-top: 0;
}

.m130 {
    margin-top: 130px;
}

.nav-pills {
    border: 1px solid #e1e1e1;
	border-radius: 2px;
}

.nav-pills > li {
    width: 50%;
    padding: 10px;
    float: left;
    margin: 0 !important;
}

.nav-pills > li > a {
    margin: 0!important;
    text-align: center;
    background-color: #f4f4f4;
	display: block;
	padding: 10px 0px;
	border-radius: 2px;
}


/**-------------- inner Page css ---------------**/

.all-title-box{
	background: url(images/banner.jpg)no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 300px;
}

.all-title-box h1{
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	padding-top: 11%;
	font-size: 48px;
	line-height: 0px;
}

span.m_1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5em;
	display: block;
}

.list-domain{
	margin-top: 30px;
}

.list-domain ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.list-domain ul li{
	display: inline-block;
	padding: 10px 0px;
}

.dmoain-pricing table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.dmoain-pricing table .domain-head {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background: #9dc15b;
}

.dmoain-pricing table .domain-head th {
  border-right: 2px solid #fff;
}

.dmoain-pricing table .domain-head th:last-child {
  border-right: none;
}

.dmoain-pricing table th {
  padding: 11px 0;
  text-align: center;
  font-weight: 600;
}

.dmoain-pricing table td {
  padding: 23px 0;
  text-align: center;
  font-weight: 700;
  color: #707070;
}

.dmoain-pricing table th,
.dmoain-pricing tbody tr td:nth-child(1) {
  text-transform: capitalize;
}

.dmoain-pricing tbody tr td:nth-child(1) {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}



.pricingTable{
    text-align: center;
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
}
.pricingTable .pricingTable-header{
    color:#ffffff;
    background: #333333;
}
.pricingTable .heading{
    display: block;
    padding-top: 25px;
}
.pricingTable .heading:after{
    content: "";
    border-top: 1px solid rgba(255, 255, 255 ,0.4);
    display: inline-block;
    width: 85%;
}
.pricingTable .heading > h3{
    margin: 0;
    text-transform: capitalize;
    font-size: 38px;
	font-weight: 700;
	color: #fff;
}
.pricingTable .heading > span{
    text-transform: capitalize;
    font-size: 13px;
    margin-top: 5px;
    display: block;
}
.pricingTable .price-value{
    padding-bottom: 25px;
    display: block;
    font-size: 34px;
}
.pricingTable-header > .price-value > .month{
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
}
.pricingTable .price-value > span{
    display: block;
    font-size: 14px;
    line-height: 20px;
}
.pricingTable .pricingContent{
    text-transform: capitalize;
    background: #ffffff;
    color:#333333;
}
.pricingTable .pricingContent > i{
    font-size: 60px;
    margin-top: 20px;
	color: #eea412;
}
.pricingTable .pricingContent ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    text-align: left;
}
.pricingTable .pricingContent ul li{
    padding: 12px 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #333;
    width: 85%;
    margin: 0 auto;
}
.pricingTable .pricingContent ul li:first-child{
    border-top: 0px none;
}
.pricingTable .pricingContent ul li:last-child{
    border-bottom: 0px none;
}
.pricingTable .pricingContent ul li:before{
    content: "\f00c";
    font-family:'FontAwesome'; font-weight: 900;
    margin-right: 10px;
    transition:all 0.5s ease 0s;
}
.pricingTable .pricingContent ul li:hover:before{
    margin-right: 20px;
}
.pricingTable .pricingTable-sign-up{
    padding: 20px 0;
    background: #ffffff;
    color:#fff;
    text-transform: capitalize;
}
.pricingTable .pricingTable-sign-up > span{
    margin-top: 10px;
    display: block;
}
.pricingTable .btn-block{
    width: 40%;
    margin: 0 auto;
    background: #e67e22;
    color:#fff;
    text-transform: capitalize;
    border: 0px none;
    padding: 10px;
    border-radius: 3px;
    font-size: 17px;
    transition:all 0.5s ease 0s;
}
.pricingTable .btn-block:hover{
    border-radius: 12px;
}
.pricingTable .btn-block:before{
    content: "\f07a";
    font-family:'FontAwesome'; font-weight: 900;
    margin-right: 10px;
}
.pricingTable.pink .pricingTable-header{
    background: #333333;
}
.pricingTable.orange .pricingTable-header{
    background: #333333;
}
.pricingTable.green .pricingTable-header{
    background: #008b8b;
}
@media screen and (max-width: 990px){
    .pricingTable{
        margin-bottom: 20px;
    }
}



.pricingTable-sign-up a{
	position: relative;
	font-size: 18px;
	display: inline-block;
}
.pricingTable-sign-up a,
.pricingTable-sign-up a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.pricingTable-sign-up a.hover-btn-new::before,
.pricingTable-sign-up a.hover-btn-new::after {
  background: #eea412;
  content: '';
  position: absolute;
  z-index: 1;
}

.pricingTable-sign-up a.hover-btn-new:hover span {
  color: #333333;
}
.pricingTable-sign-up a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.pricingTable-sign-up a.hover-btn-new::after {
  background: #333333 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.pricingTable-sign-up a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #fff;
}
.pricingTable-sign-up a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}



@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}


/** for tutors.html 
@media only screen and (max-width: 767px) {
    .our-team {
        margin-bottom: 30px;
    }
    .team-img {
        text-align: center;
        width: 50%; 
        float: left; 
    }
    .team-content {
        text-align: center;
        width: 50%; 
        float: left; 
    }
}
**/

  